HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

bug_report.md
CODE_OF_CONDUCT.md
codeql-analysis.yml
CONTRIBUTING.md
compareTo.d.ts
devcontainer.json
FUNDING.yml
LICENSE
main.yml
maven-wrapper.properties
modulud.d.ts
multiply.d.ts
mvnw.cmd
mvnw
npm-publish.yml
package.json
package-lock.json
node_modules
