<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Receipts Tracker</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/addProducts.js"></script>
        <script type="text/javascript" src="js/transactions.js"></script>
        <script type="text/javascript" src="js/transactionsPaginationLogic.js"></script>
    </head>
    <body>
        <ul>
            <li><a href="/transactions">Transactions</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/bill">Add bill</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
        <div class="container">
            <div class="box">
                <div class="filtersProductsContainer">
                    <div>
                        <input type="checkbox" id="option1" checked />
                        <label for="option1">Group by recipient</label>
                    </div>
                    <div>
                        <input type="checkbox" id="option2" checked />
                        <label for="option2">Group by date</label>
                    </div>
                </div>
                <div id="tableContainer">
                    <table id="table">
                        <thead>
                        <th>Date</th>
                        <th>Recipient</th>
                        <th>Price</th>
                        <th>Has bill</th>
                        <th>&nbsp</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <dialog id="dialogAddProducts" class="dialogAddProducts">
                        <div class="closeDialogContainer">
                            <button autofocus class="closeDialogAddProductsButton">X</button>
                        </div>

                        <form id="formCreateNewProduct">
                            <div class="boxForFormFields">
                                <div class="inputField">
                                    <label for="name">Name: </label>
                                    <input type="text" name="name" id="name" required />
                                </div>
                                <div class="inputField">
                                    <label for="price">Price: </label>
                                    <input type="number" step="0.01" name="price" id="price" required />
                                </div>
                                <div class="inputField">
                                    <label for="quantity">Quantity: </label>
                                    <input type="number" step="0.01" name="quantity" id="quantity" required />
                                </div>
                                <div class="selectField">
                                    <select id="select">
                                        <option disabled selected value> -- select an option -- </option>
                                    </select>
                                </div>
                            </div>
                            <button type=submit id="submitButton">Submit</button>
                        </form>


                        <div class="errorBox">
                            <p class="errorText" id="errorBox"></p>
                        </div>

                        <table class="table" id="addProductsTable">
                            <thead>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Category</th>
                            <th>Full price</th>
                            <th></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <button id="saveButton">Save</button>
                        <button id="deleteBillButton">Delete Bill</button>
                    </dialog>
                </div>
                <div id="paginationBox">
                    <div class="pagination" id="pagination">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>